.page.theme_dark {
    --text-color: var(--color-pink-2,#F1B2CE);
    --menu-list-color: var(--color-pink-1, #FF0070);
    --menu-list-color-hover: var(--color-pink-1-hover, #FF007066);
    --title-color: var(--color-purple-1,#DB00FF);
    --accent-color: var(--color-pink-1, #FF0070);
    --decor-color: var(--color-pink-1, #FF0070);
    --decorated-zone-color: var(--color-pink-1, #FF0070);
    --title-shadow-decor-color: var(--color-pink-1, #FF0070);
    --background-color: var(--color-black-2-background, #000028);
    --title-decor-color: var(--color-black-2-background, #000028);
    --button-color-pink: rgb (255,0,112, 0.4);

    background-image: url(../images/cover-image-dark.png);

    .rec {
    visibility: visible;
    }
    .link_effects {
text-shadow: 2px 2px 0 #FF0070;
}
}

@media (prefers-color-scheme: dark) {
:root {
--text-color: var(--color-pink-2,#F1B2CE);
    --menu-list-color: var(--color-pink-1, #FF0070);
    --menu-list-color-hover: var(--color-pink-1-hover, #FF007066);
    --title-color: var(--color-purple-1,#DB00FF);
    --accent-color: var(--color-pink-1, #FF0070);
    --decor-color: var(--color-pink-1, #FF0070);
    --decorated-zone-color: var(--color-pink-1, #FF0070);
    --title-shadow-decor-color: var(--color-pink-1, #FF0070);
    --background-color: var(--color-black-2-background, #000028);
    --title-decor-color: var(--color-black-2-background, #000028);
    --button-color-pink: rgb (255,0,112, 0.4);

    background-image: url(../images/cover-image-dark.png);

    .rec {
    display: visible;
    }

.link_effects {
text-shadow: 2px 2px 0 #FF0070;
}

}

}

.theme-dark .page